* {
    font-family: sans-serif;
    font-size: x-large;
}


.redounder {
    border-radius: 100%;
    padding: 0 10px;
    font-size: 30px;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.my-modal {
    background-color: rgba(9, 17, 90, 0.527);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.my-modal-body {
    background-color: #ffff6e;
    width: 80%;
    max-width: 500px;

    padding: 20px;
    margin-top: 40px;
    
}

.my-modal-body>div {
    margin: 10px auto;
}



.min-container {
    max-width: 500px;
}

body {
    display: flex;
    flex-direction: column;

    background: #fdfd96;
    /* align-items: center; */
}


.btn-redounder-left {
    width: 10%;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
    padding: 5px;

}

.btn-in-the-middle {
    width: 80%;
    border-radius: 0;
    margin: 0;
    padding: 5px;
}

.btn-redounder-rihgt {
    width: 10%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    padding: 5px;
}

.over-base {
    background-color: azure;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.balances-input {
    max-width: 100px;
    border-color: rgba(0, 0, 0, 0);
}


.notebook-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #fdfd96;
    /* Color de fondo similar a una libreta */
    border: 1px solid #ccc;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    /* Fuente tipo máquina de escribir */
}

.notebook-list li {
    padding: 5px 0;
    border-bottom: 1px dashed #ccc;
    /* Línea punteada entre elementos */
}

.notebook-list li:last-child {
    border-bottom: none;
    /* Sin línea en el último elemento */
}

.my-table {
    background: #fdfd96;
    margin-top: 25px;
}

.my-table td,
.my-table th {
    padding: .5rem .5rem;
}

.my-table tr {
    border-bottom: 1px dashed #ccc;
}



input, textarea {
    border: #00000000;
    background: #fdfd96;
    border: 1px dashed #ccc;
}

.navegation{
    background: #ffff6e;
    display: inline-block;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    
}
.navegation li{
    float: left;
    padding: 5px;
    margin: 5px;
}
.navegation a{
    text-decoration: none;
    font-size: xx-large;
}